DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=tecdiagram
DB_PORT=3306

PORT=4002

JWT_SECRET=nuevaContraseña_superSegura_diagramtec

# URL pública de tu carpeta php
PHP_BACKEND_URL=http://localhost/diagram/DiagramTec/php
# Si quieres que el backend arranque PHP embebido, deja PHP_BACKEND_URL vacío y define el ejecutable si es necesario
PHP_EXECUTABLE=php

EMAIL_USER=diagramtec@gmail.com
EMAIL_PASS=poxtavbmlepblanm