# Google
GOOGLE_CLIENT_ID=secret_google_client_id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=secret_google_client_id
GOOGLE_CALLBACK_URL=http://localhost/nuevonuevo/DiagramTec/php/google_auth.php?action=callback

# Frontend URL (para redirigir tras login con Google)
FRONTEND_URL=http://localhost:5173